NODE_ENV=development
PORT=8000
CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLIENT_URL=http://localhost:3000
INTROSPECTION_SECRET=xxxxxxxxxxxxxxxxxxx

REDIS_URL="rediss://xxxxxxxxxxxxxxxxxxxxxxxxxxx:6379"

DATABASE_URL="postgres://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

DIRECT_URL="postgresql://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"